<html>
  <head>
    <title>{{ title }} - WW App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/plugins/jquery-3.1.1.min.js"></script>
    <script src="static/plugins/jquery.tablesorter.js"></script>
    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/js.js"></script>
  </head>
  <body>
      <h1>WW Points Search - {{ title }}</h1>
      <p><a href='/'><button class="btn-primary">New Search</button></a></p>
      {% block content %}{% endblock %}
      <p>Powered by <a href="http://www.nutritionix.com/api">Nutritionix API</a></p>
  </body>
</html>